// colors

$black: #2B2D38;
$pink: #DB2A6B;
$grey: #ABABAB;
$white-grey: rgba(255, 255, 255, 0.5);

// typography

$primary-font: "Poppins", sans-serif;
$secondary-font: "Merriweather", serif;

// urls

$url-circle-big: url("../img/ellipse-big.svg");
$url-circle-small: url("../img/ellipse-small.svg");