@use "../abstracts/variables" as v;

body {
    background-color: v.$black;
    color: white;
    background-image: v.$url-circle-big, v.$url-circle-small;
    background-position: bottom -144px right -217px, bottom -333px right -456px;
    background-repeat: no-repeat;
    background-size: contain;
}