@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

header {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 24px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        ul {
            @include m.reset-list();
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            font-size: 18px;
            font-weight: 400;

            a {
                text-decoration: none;
                color: v.$grey;
            }

            a:hover {
                color: white;
                border-bottom: 2px solid v.$pink;
            }
        }
    }
}
