@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.hero {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 27px;

    &-text {
        width: 50%;
        &-title {
            margin-bottom: 60px;
            &--title {
                font-family: v.$secondary-font;
                font-size: 80px;
                font-weight: 700;
                margin-bottom: 24px;
                margin-top: 24px;
            }
    
            &--subtitle {
                font-size: 24px;
                font-weight: 400;
                color: v.$white-grey;
                margin-bottom: 40px;
            }
    
            &--options {
                ul {
                    @include m.reset-list();
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 20px;
    
                    a {
                        text-decoration: none;
                        color: white;
                        padding: 15px 40px;
                    }
    
                    li:first-child a {
                        font-size: 18px;
                        font-weight: 400;
                        background-color: v.$pink;
                        border-radius: 15px;
                        border-bottom-left-radius: 0;
                    }
    
                    li:last-child {
                        font-size: 18px;
                        font-weight: 600;
                    }
    
                    li:last-child a {
                        text-decoration: underline;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 10px;
    
                        div:last-child {
                            position: relative;
                            top: 5px;
                        }
                    }
                }
            }
        }
    
        &-services {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 48px;
            padding-top: 30px;
            padding-bottom: 30px;
    
            &--service {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 16px;
                font-size: 18px;
                font-weight: 600;
            }
        }
    }

    &-images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 32px;

        &--gallery:first-of-type {
            grid-area: 1 / 1 / span 2 / span 1;
        }

        &--gallery:nth-of-type(2) {
            grid-area: 3 / 1 / span 1 / span 1;
        }

        &--gallery:nth-of-type(3) {
            grid-area: 1 / 2 / span 1 / span 1;
        }

        &--gallery:nth-of-type(4) {
            grid-area: 2 / 2 / span 2 / span 1;
            align-self: end;
        }

        &--gallery:last-of-type {
            grid-area: 1 / 3 / span 3 / span 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}